.Flex-Container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ForeCast{
  flex-direction: column;
  width: 12rem;
  height: 12rem;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 2rem;
  margin: 1rem;
}

.ForeCast img{
  height: 4rem;
  width: 4rem;
  display: block;
}

.MinMax{
  justify-content: space-around;
  width: 100%;
}

.Min{
  color: blue;
}

.Max{
  color: red;
}
