.Current {
  box-sizing: border-box;
  width: 80%;
  padding: 2rem;
  background-color: white;
  margin: 0 auto;
  margin-top: 2rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.Important h1 span {
  font-size: 1rem;
  font-weight: 400;
}

.Current:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.QuickLook {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.Flex {
  display: flex;
  flex-direction: row;
}

.Flex img {
  width: 4rem;
  height: 4rem;
}

p {
  line-height: 4rem;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}
